:root {
    --primary-color: rgb(220, 220, 220);
}

.news-pic {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: calc((100% - 30px) / 2);
    background-color: white;
}

.news-item img {
    width: 100%;
    object-fit: contain;
    object-position: center;
}

.news-info {
    display: inline-block;
    padding: 40px;
}

.post-card {
    text-transform: uppercase;
    color: blue;
}

.news-title {
    color: black;
}

.news-pic .small {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--primary-color);
}

.news-item.small img {
    width: calc(100% / 3);
    height: 80%;
}

.news-info.small {
    display: inline-block;
    padding: 0 0 0 20px;
    width: calc(100% / 3 * 2);
    font-size: 14px;
}

@media screen and (max-width: 950px) {
    .small-news .news-pic {
        width: 100%;
    }
}
