:root {
    --primary-color: rgb(220, 220, 220);
}
body {
    background-color: var(--primary-color);
}

.whole-part {
    display: flex;
    column-gap: 30px;
    margin-top: 50px;
}

@media screen and (max-width: 600px) {
    .whole-part {
        flex-wrap: wrap;
        flex-direction: column;
    }
} 