.news-wrapper .title {
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 30px;
    margin: 0;
}

.news-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 30px;
}

.news-list a {
    text-decoration: none;
}

.big-news {
    display: flex;
    gap: 30px;
}

.small-news {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

@media screen and (max-width: 1120px) {
    .big-news {
        flex-direction: column;
    }
}